@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
 
 @mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -o-transform: $args;
  transform: $args;  
}

@mixin gallery($name, $num-slides, $slide-duration: 4, $slide-delay: 3) {

  $total-time: ($slide-duration + $slide-delay) * $num-slides;

  .#{$name} {
    position: relative;
    overflow: hidden;
    &:hover, &:hover > div, &:hover > div > div {
      -webkit-animation-play-state: paused !important;
    }

    > * {
      width: 100%;
      position: absolute;
    }
    
    // set up fading for children
    @for $j from 1 through $num-slides {
      > div:nth-child(#{$j}) {
        @include animation(#{$name}#{$j} #{$total-time}s #{$slide-delay}s infinite);
        z-index: $num-slides + 1 - $j;
      }
    }
    
    //set up sliding for grandchildren
    @for $j from 1 through $num-slides {
      > div:nth-child(#{$j}) > div {
        @include animation(#{$name}#{$j}slide #{$total-time}s #{$slide-delay}s infinite);
      }
    }
  }

  @for $j from 1 through $num-slides {
    @include keyframe-creator(#{$name}#{$j}, opacity, $num-slides, $j, $total-time, $slide-delay);
  }

  @for $j from 1 through $num-slides {
    @include keyframe-creator(#{$name}#{$j}slide, slide, $num-slides, $j, $total-time, $slide-delay);
  }
}



@mixin keyframe-creator($name, $type, $num-slides, $current-slide, $total-time, $slide-delay) {
  
  $percent-list: keyframe-slicer($num-slides, $total-time, $slide-delay);
  
  @if $type == opacity {
    @include keyframes($name) {
      @for $i from 1 through length($percent-list) {
        #{nth($percent-list, $i)} {

          @if $current-slide >= $i {
              opacity: 1;
          } @else if $i - $current-slide == $num-slides {
              opacity: 1;
          } @else {
              opacity: 0;
          } 
          
        }
      }
    }
  } @else if $type == slide {
     @include keyframes($name) {
      @for $i from 1 through length($percent-list) {
        #{nth($percent-list, $i)} {

          @if $current-slide == $i {
              @include transform(translateX(0px));
          } @else if $i - $current-slide == $num-slides {
            @include transform(translateX(0px));
          } @else {
             @include transform(translateX(2000px));
          } 
          
        }
      }
    }   
  }
}

 
@function keyframe-slicer($num-slides, $total-time, $slide-delay) {
  $steps: ();
  
  $offset: $slide-delay / $total-time * 100;
  $step: 100 / $num-slides;

  @for $slide from 0 through $num-slides {
    $percent-step: $slide * $step + 0%;
    
    @if $slide == 0 {
    } @else if $slide == $num-slides {
      $percent-step: $percent-step - $offset;
    } @else {
      $percent-step: $percent-step - $offset;
      $percent-step: append($percent-step, #{$percent-step + $offset}, comma);
    }

    $steps: append($steps, $percent-step);
   }
  @return $steps;
}
 



